body {
    margin: 0;
    padding: 0;
    background-image: url('backgrounds/background1.webp');
    /* background-size: cover; */
}


.topbar {
    display: flex; 
    justify-content: space-between;
    background-color: rgba(67, 67, 67, 0.25);
    color: white;
    border-radius: 10px;
    backdrop-filter: blur(16px);
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    
}


.battery-icon {
    /* Set a reasonable size that matches your text font-size */
    height: 1em; 
    width: auto;
    
    /* Align it vertically with your "100%" text */
    vertical-align: middle;
    margin-right: 5px; /* Adds a tiny space between icon and text */

    /* The magic trick to turn a black SVG into white */
    filter: brightness(0) invert(1);
}

#welcome {
    position: absolute;
    z-index: 9;
    text-align: center;
    display: flex;
    display: none;
    flex-direction: column;
    width: 200px;
      background-color: rgba(67, 67, 67, 0.25);
  backdrop-filter: blur(16px);
  border-radius: 10px;
    color: #fff;
    overflow: hidden;
}

#windowheader {
  padding-left: 10px;
  padding-right: 10px;
  cursor: move;
  z-index: 10;


  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#welcomeclose {
  background-color: red;
height: 16px;
width: 16px;
border-radius: 50%;
  cursor: pointer;
}

#welcomeclose:hover {
    background-color: darkred;
}
